.timer-container {
    display: flex;
    font-family: 'Consolas', 'Menlo', 'Monaco', monospace;
    align-items: baseline;
  }
  
  .timer {
    color: red;
  }
  
  .seconds-left {
    font-size: 0.7rem;
    color: bisque;
    white-space: nowrap;
  }
  