.galleryItem{
    width: 15rem;
    height: 15rem;
    margin: 1rem;
    border: 0.1rem solid rgb(255, 255, 255);
    border-radius: 0.4rem;
    cursor: pointer;
    object-fit: cover;
    transition: transform 0.3s;
}

.galleryItem:hover{
    transform: scale(1.05);
}

.image-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 5rem;
    justify-content: center;
}
.image-card{
    
    transition: background-color 0.5s ease;
    
    border-radius: 0.4rem;
}
.image-card:hover img{
    transform: scale(1.02);     
}

.image-card:hover img{
}
.image-card:hover{
    
    background: rgb(158 157 157 / 6%);
}

.image-card p{
    
}

.image-details{
    

}

.productName{
    text-align: center;
    text-wrap: wrap;
    width: 15rem;
    height: 3rem;
}

.details{
    margin: -1rem 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    
}
.priceDetails{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.old-price-mrp{
    font-size: 0.8rem;
    color: rgb(183, 182, 182);
}
.oldPrice{
    text-decoration: line-through;
    font-size: 0.8rem;
}

.newPrice{
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
    margin-right: 1.2rem;
}

.view-button{
    background: #fb641b;
    border: 0;
    border-radius: 2px;
    color: white;
    font-weight: bold;
    padding: 0.3rem 0rem;
    transition: background-color 0.2s ease;
}

.view-button:hover{
    background: rgb(182, 68, 33);
    cursor: pointer;
}
