.galleryItem{
    width: 15rem;
    height: 15rem;
    margin: 1rem;
    border: 0.1rem solid rgb(255, 255, 255);
    border-radius: 0.4rem;
    cursor: pointer;
    object-fit: cover;
}

.galleryItem:hover{
    transform: scale(1.05);
    transition: transform 0.5s ease-in-out;
    /* border: none; */
}

.image-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.image-card{
    
}

.image-card p{
    
}

.image-details{
    

}

.productName{
    text-align: center;
    text-wrap: wrap;
    width: 15rem;
    height: 3rem;
}

.details{
    /* text-align: left; */
    margin: -1rem 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    
}
.priceDetails{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.oldPrice{
    text-decoration: line-through;
    color: rgb(255, 255, 255);
    font-size: 0.8rem;
}

.newPrice{
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
    margin-right: 1.2rem;
}


