.about{
    /* margin: 0 5rem; */
    
}
.about-body{
    margin: 0 5rem;
}

.title{
    text-align: center;
    color: white;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
}

.about-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    /* width: 100vw; */
}