.admin-panel-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;
}

.admin-panel-title{

}

.panel-name{

}

/*  */
.admin-data-panel, .admin-controller-panel{
    display: flex;
    flex-direction: column;
    border: 2px solid #363333;
    border-radius: 5px;
    width: 60rem;
    
}

.social-media-row, .admin-controller-row {
    display: flex;
    align-items: center;
    border: 2px solid #363333;
    
}

.social-media-name, .admin-controller-name{
    width: 10rem;
    padding: 2rem;
}

.social-media-fields, .admin-controller-fields{
    display: flex;
    gap: 1rem;
    width: 40rem;
    padding: 1rem;
    border-left: 2px solid #363333;
    border-right: 2px solid #363333;
}

.field-name, .controller-name{
    font-size: 0.8rem;
}
.field-value, .controller-value{
    width: 5rem;
}

.social-media-update-reset-button,
.admin-controller-update-reset-button{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: auto;
}
.admin-panel-btn{
    padding: 4px 2rem;
    font-size: 0.8rem;
}

.social-media-update-reset-button button, 
.admin-controller-update-reset-button button{
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.admin-panel-update-reset-all-buttons {
    display: flex;
    justify-content: center;
    margin: 1rem;
}

.admin-panel-update-reset-all-buttons button {
    padding: 8px 16px;
    font-size: 0.8rem;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    color: white;
    margin-right: 10px;
    transition: background-color 0.3s ease;
}
