.home{
    margin-left: 5rem;
}

.allChannelList{
    list-style: none;
    
}

.listItem{
    margin: 1rem;
    padding: 1rem;
    border: 0px solid #ccc;
    border-radius: 5px;
    width: 20rem;
    height: 1.8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    vertical-align: middle;
    outline: none;
}

.listItem:hover{
    background-color: #000000;
    cursor: pointer;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* width: 100vw; */
}

  
.channelHomeImage img{
    width: 48rem;
    height: auto;
}
