.home{
}
.mobMenu{
    display: none;
    object-fit: cover;
    height: 1.8rem;
}

.navMenu{
    position: absolute;
    top: 4rem;
    right: 2rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    height: fit-content;
    min-width: 15rem;
    background: rgb(40,40,40);
    border-radius: 1rem;
}
.allChannelList{
    list-style: none;
    padding: 0rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 0.2rem;
    justify-content: space-evenly;
}

.listItem{
    padding: 1.5rem;
    border: 0;
    border-radius: 5px;
    width: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    vertical-align: middle;
    outline: none;
    transition: background-color 0.3s cubic-bezier(0.8, 0.01, 0.25, 1);
}

.listItem:hover{
    background-color: #000000;
    cursor: pointer;
}

.home-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: auto;
    align-items: center;
}

  
.channelHomeImage img{
    width: 48rem;
    height: calc(100vh - 8rem);
}

@media screen and (max-width: 1200px){
    .box{
        font-size: 1rem;
    }
    .listItem{
        width: 20rem;
    }
    .home-container{
        flex-direction: column-reverse;
    }
    .channelHomeImage img{
        width: 100vw;
        height: calc(100vh - 15rem);
    }
    .channelHomeImage{
    }
}


