.join-social-media-button{
    text-align: center;
    margin-top: 10px;
}
.join-social-media-item-button{
    padding: 5px 30px;
    border-radius: 20px;
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: 600;
}
