.telegram-inner-item{
    display: flex;
    width: 15rem;
}

.telegram-inner-inner-item{
    width: 10rem;
}

.join-channel-button{
    text-align: center;
    margin-top: 10px;
}
.join-channel-item-button{
    background: royalblue;
    padding: 1px 30px;
    border-radius: 20px;
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: 600;
}
