.follow-threads-button{
    text-align: center;
    margin-top: 10px;
}
.follow-threads-item-button{
    background: #5f0981;
    padding: 1px 30px;
    border-radius: 20px;
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: 600;
}
