.join-whatsapp-channel-button{
    text-align: center;
    margin-top: 10px;
}
.join-whatsapp-channel-item-button{
    background: #25D366;
    padding: 1px 30px;
    border-radius: 20px;
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: 600;
}
