.channel-data{
}

.channel-data{
    width: 12rem;
}

.social-item-pic-counter{
}

.channel-id{
    font-size: 0.8rem;
    color: rgba(144, 144, 144, 0.842);

}

.channel-status{
    font-size: 0.7rem;
    color: rgba(144, 144, 144, 0.842);
}

.social-item-pic-counter{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.channel-details{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.channel-details-item{
    font-size: 0.8rem;
    margin-top: 5px;
}
.channel-details-item a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.view-email-address{
    background: rgba(44, 44, 44, 0.642);
    width: fit-content;
    padding: 1px 5px;
    border-radius: 20px;
}

i{
    margin-right: 5px;
}
a{
    text-decoration: none;
    color: rgba(144, 144, 144, 0.842);
}

.subscribe-youtube-button{
    text-align: center;
    margin-top: 10px;
}

.subscribe-youtube-item-button{
    background: #f70000;
    padding: 1px 30px;
    border-radius: 20px;
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: 600;
}
