.footer-container {
  bottom: 0;
  position: relative;
  background-color: #222;
  color: #fff;
  padding: 1rem;
  text-align: center;
  width: 100vw;
}

.social-media-links{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 16px;
}


.social-media-links a{
    margin: 0 0;
}
