

#loginPage{
    min-height: calc(100vh - 10rem);
    width: 100vw;
    max-width: 60rem;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.login-form{
    padding: 4rem;
    background: rgba(91, 91, 91, 0.103);
    border-radius: 1rem;
}

.login-description{
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 1rem;
    text-align: center;
}

.loginPageTitle{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2rem;

}

.login-inputs{
    display: flex;
    flex-direction: column;
    width: 24rem;
    height: 10rem;
}
.username, .password{
    font-size: medium;
    max-width: 40rem;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    color: white;
    border: none;
    border-radius: 0.5rem;
    background: rgb(40,40,40);
}
.login-buttons{
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    margin: 0rem;
}

.submitBtn{
    background: white;
    border: none;
    border-radius: 0.5rem;
    margin: 2rem;
    padding: 0.75rem 3.5rem;
}

.submitBtn:hover{
    background: #c9a8a8;
}
