/* YourComponent.css */
.App {
    /* Hide scrollbar for both vertical and horizontal */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    overflow: -moz-scrollbars-none; /* Firefox */
    overflow: auto; /* Hide scrollbar for WebKit based browsers */
}
  
  .App::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari, etc. */
}

.loading-animation {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
}

.spinner {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 3px solid rgba(0, 0, 0, 0.1);
  border-top-color: #007bff;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

